Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: yarn eslint --cache --max-warnings=0 {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

chore: bump android sdk version to 3.21.0
  android/gradle.properties
Due: none

feat: add support new API MAPS API Keys
  README-en.md
  README.md
  expo-config-plugin/src/index.ts
Due: none

docs: fix typo in README.md
  README-en.md
  README.md
Due: none

docs: add admonition for announcing which version is supporting new released map naver API
  README-en.md
  README.md
Due: none

chore: release 2.4.0 [skip ci]
  package.json
Due: none

Update README.md [skip ci]
  README.md
Due: none

Update README-en.md [skip ci]
  README-en.md
Due: none

ci: remove stale.yml
  .github/workflows/stale.yml
Due: none

fix: view changes tracker
  android/src/main/java/com/airbnb/android/react/maps/ViewChangesTracker.java
Due: none

fix: iOS 네이버맵 초기 설정값 셋팅 문제 수정
  ios/RNCNaverMapView.mm
Due: none

feat: iOS 카메라 이벤트 실시간 감지 기능 추가
  ios/RNCNaverMapViewImpl.mm
Due: none

feat: set cluster image
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapClusterDataHolder.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapClusterMarkerUpdater.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerHolder.kt
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:kotlin, typecheck

feat<android>: add caption field in cluster marker
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerUpdater.kt
  src/spec/RNCNaverMapViewNativeComponent.ts
  src/types/ClusterMarkerProp.ts
Due: lint:js, lint:kotlin, typecheck

fix<android>: undefined cluster caption
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerUpdater.kt
Due: lint:kotlin

fix: 안드로이드 ScrollView 내에서 사용시 상하 스크롤 버블링 현상 수정
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

fix: cluster caption type error
  src/spec/RNCNaverMapViewNativeComponent.ts
  src/types/ClusterMarkerProp.ts
Due: lint:js, typecheck

style: format
  ios/RNCNaverMapViewImpl.mm
Due: none

chore: update pod
  example/ios/Podfile.lock
Due: none

chore: remove hangul comments
  ios/RNCNaverMapViewImpl.mm
Due: none

chore: update
  .husky/_/commit-msg
  .husky/_/format
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  README-en.md
  commitlint.config.mjs
  example/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon.ico
  src/__tests__/index.test.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapPolylineOverlay.tsx
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
  typedoc.json
Due: lint:js, typecheck

chore: unconscious commit
  .husky/_/check
  .husky/_/commit-msg
  .husky/_/format
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

chore: unconscious commit
  .husky/_/check
  .husky/_/commit-msg
  .husky/_/format
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

chore: unconscious commit
  example/android/app/build.gradle
  example/android/gradle.properties
  example/package.json
  example/src/app/index.tsx
  mj-studio-react-native-naver-map.podspec
  package.json
  pnpm-lock.yaml
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

chore: unconscious commit
  .github/actions/setup/action.yml
Due: none

chore: unconscious commit
  .nvmrc
Due: none

chore: unconscious commit
  package.json
Due: none

chore: unconscious commit
  .gitignore
  .npmrc
  example/metro.config.js
  example/package.json
  ios/Module/RNCNaverMapUtil.h
  ios/Module/RNCNaverMapUtil.mm
  ios/Overlay/ArrowheadPath/RNCNaverMapArrowheadPath.h
  ios/Overlay/ArrowheadPath/RNCNaverMapArrowheadPath.mm
  ios/Overlay/Circle/RNCNaverMapCircle.h
  ios/Overlay/Circle/RNCNaverMapCircle.mm
  ios/Overlay/Cluster/RNCNaverMapClusterKey.h
  ios/Overlay/Cluster/RNCNaverMapClusterKey.mm
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.h
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.mm
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.h
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/Overlay/Ground/RNCNaverMapGround.h
  ios/Overlay/Ground/RNCNaverMapGround.mm
  ios/Overlay/Marker/RNCNaverMapMarker.h
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/Overlay/Path/RNCNaverMapPath.h
  ios/Overlay/Path/RNCNaverMapPath.mm
  ios/Overlay/Polygon/RNCNaverMapPolygon.h
  ios/Overlay/Polygon/RNCNaverMapPolygon.mm
  ios/Overlay/Polyline/RNCNaverMapPolyline.h
  ios/Overlay/Polyline/RNCNaverMapPolyline.mm
  ios/RNCNaverMapView.h
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  ios/Util/ColorUtil.h
  ios/Util/EasingAnimationUtil.h
  ios/Util/FnUtil.h
  ios/Util/Image/ImageUtil.h
  ios/Util/MacroUtil.h
  pnpm-lock.yaml
Due: lint:objc

chore remove example
  example/.gitignore
  example/app.json
  example/assets/fonts/SpaceMono-Regular.ttf
  example/assets/images/adaptive-icon.png
  example/assets/images/favicon.png
  example/assets/images/icon.png
  example/assets/images/partial-react-logo.png
  example/assets/images/react-logo.png
  example/assets/images/react-logo@2x.png
  example/assets/images/react-logo@3x.png
  example/assets/images/splash-icon.png
  example/package.json
  example/src/app/_layout.tsx
  example/src/app/index.tsx
  example/src/component/components.tsx
  example/src/db/CityDatabase.ts
  example/src/logo180.png
  example/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: unconscious commit
  package.json
  pnpm-lock.yaml
Due: none

fix: fix android build error on rn 0.80
  android/src/newarch/RNCNaverMapArrowheadPathManagerSpec.kt
  android/src/newarch/RNCNaverMapCircleManagerSpec.kt
  android/src/newarch/RNCNaverMapGroundManagerSpec.kt
  android/src/newarch/RNCNaverMapMarkerManagerSpec.kt
  android/src/newarch/RNCNaverMapPathManagerSpec.kt
  android/src/newarch/RNCNaverMapPolygonManagerSpec.kt
  android/src/newarch/RNCNaverMapPolylineManagerSpec.kt
  android/src/newarch/RNCNaverMapViewManagerSpec.kt
Due: lint:kotlin

chore: setup android example
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
Due: none

chore: unconscious commit
  babel.config.js
  example/android/app/build.gradle
  example/android/app/src/main/java/com/example/MainActivity.kt
  example/android/app/src/main/java/com/example/MainApplication.kt
  example/index.js
  example/ios/example.xcodeproj/project.pbxproj
  example/ios/example/Info.plist
  example/package.json
  example/src/logo180.png
  example/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

chore: unconscious commit 🦄
  example/android/.editorconfig
  lefthook.yml
Due: none

chore: unconscious commit
  pnpm-workspace.yaml
Due: none

Path conditions:
  lint:js: any of: src/**/*.{js,ts,jsx,tsx}
  lint:objc: any of: ios/**/*.{h,mm,m,hpp}
  lint:kotlin: any of: android/**/*.kt
  typecheck: any of: src/**/*.{ts,tsx}
