Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: yarn eslint --cache --max-warnings=0 {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

chore: release 2.0.0-alpha.0 [skip ci]
  package.json
Due: none

fix(android): force make mutable map of exported direct event type map type
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/arrowheadpath/RNCNaverMapArrowheadPathManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/circle/RNCNaverMapCircleManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGroundManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPathManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polygon/RNCNaverMapPolygonManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polyline/RNCNaverMapPolylineManager.kt
Due: lint:kotlin

Revert "fix(android): force make mutable map of exported direct event type map type"
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/arrowheadpath/RNCNaverMapArrowheadPathManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/circle/RNCNaverMapCircleManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGroundManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPathManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polygon/RNCNaverMapPolygonManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polyline/RNCNaverMapPolylineManager.kt
Due: lint:kotlin

fix(android): make direct event inner map type to mutable
  android/src/main/java/com/mjstudio/reactnativenavermap/util/DirectEventUtils.kt
Due: lint:kotlin

chore: release 1.5.7 [skip ci]
  package.json
Due: none

fix(ios): old arch 'clusters' prop type of RCT_EXPORT_VIEW_PROP
  ios/RNCNaverMapViewManager.mm
Due: none

chore: release 1.5.8 [skip ci]
  package.json
Due: none

chore(ios): update example project pod.lock
  example/ios/Podfile.lock
Due: none

fix(android): screenToCoordinate wrong argument order
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapScreenToCoordinateEvent.kt
  example/src/App.tsx
Due: lint:kotlin

feat(android): onTapClusterLeaf prop
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapClusterLeafTapEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerHolder.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerUpdater.kt
  example/src/App.tsx
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:kotlin, typecheck

feat(ios): onTapClusterLeaf prop
  ios/Overlay/Cluster/RNCNaverMapClusterKey.h
  ios/Overlay/Cluster/RNCNaverMapClusterKey.mm
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewManager.mm
Due: lint:objc

chore: remove codegen from release phase
  script/release.sh
Due: none

chore: release 2.0.0-alpha.1 [skip ci]
  package.json
Due: none

chore: release 1.5.9 [skip ci]
  package.json
Due: none

chore: release 2.0.0-alpha.2 [skip ci]
  package.json
Due: none

Update README.md [skip ci]
  README.md
Due: none

chore: update example project
  example/src/App.tsx
Due: none

chore(ios): update pod
  example/ios/Podfile.lock
Due: none

feat: remove temporary locationOverlayProp & add region parameter into onCameraChanged
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapCameraChangeEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/100.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/102.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/1024.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/114.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/120.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/144.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/152.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/167.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/172.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/180.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/196.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/20.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/216.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/29.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/40.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/48.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/50.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/55.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/57.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/58.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/60.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/66.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/72.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/76.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/80.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/87.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/88.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/92.png
  example/ios/NaverMapExample/Images.xcassets/AppIcon.appiconset/Contents.json
  example/src/App.tsx
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:kotlin, typecheck

chore: release 2.0.0-alpha.3 [skip ci]
  package.json
Due: none

chore: release 2.0.0-rc.1 [skip ci]
  package.json
Due: none

chore(example): enhance with city db
  example/src/App.tsx
  example/src/db/CityDatabase.ts
Due: none

chore(example): enhance with city db
  example/src/App.tsx
Due: none

chore: add reproducing repo field into bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

style(android): apply ktlint 1.3.0 style
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapInitializeEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapOptionChangeEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/RNCNaverMapOverlay.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/arrowheadpath/RNCNaverMapArrowheadPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/arrowheadpath/RNCNaverMapArrowheadPathManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/circle/RNCNaverMapCircle.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/circle/RNCNaverMapCircleManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGround.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGroundManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapClusterKey.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPathManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polygon/RNCNaverMapPolygon.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polygon/RNCNaverMapPolygonManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polyline/RNCNaverMapPolyline.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/polyline/RNCNaverMapPolylineManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/ArgUtil.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/RNCNaverMapRegion.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/ViewEventEmitter.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/CreateDraweeHierarchy.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/GetOverlayImage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/OverlayImageCache.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/RNCNaverMapImageRenderableOverlay.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/RNCNaverMapTaggedImageRenderer.kt
  android/src/newarch/RNCNaverMapArrowheadPathManagerSpec.kt
  android/src/newarch/RNCNaverMapCircleManagerSpec.kt
  android/src/newarch/RNCNaverMapGroundManagerSpec.kt
  android/src/newarch/RNCNaverMapMarkerManagerSpec.kt
  android/src/newarch/RNCNaverMapPathManagerSpec.kt
  android/src/newarch/RNCNaverMapPolygonManagerSpec.kt
  android/src/newarch/RNCNaverMapPolylineManagerSpec.kt
  android/src/newarch/RNCNaverMapViewManagerSpec.kt
  example/android/app/src/main/java/com/navermapexample/MainApplication.kt
Due: lint:kotlin

chore: release 2.0.0 [skip ci]
  package.json
Due: none

chore: move feature request template to discussion
  .editorconfig
  .github/DISCUSSION_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

feat: onCameraIdle
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapCameraIdleEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  example/src/App.tsx
  ios/RNCNaverMapViewImpl.mm
  ios/RNCNaverMapViewManager.mm
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:kotlin, typecheck

chore: release 2.0.1 [skip ci]
  package.json
Due: none

build: bump expo config plugin
  package.json
  yarn.lock
Due: none

refactor(ios): enable bridgeless + remove all legacy manager files
  example/ios/NaverMapExample/AppDelegate.mm
  example/src/App.tsx
  ios/Overlay/ArrowheadPath/RNCNaverMapArrowheadPathManager.mm
  ios/Overlay/Circle/RNCNaverMapCircleManager.mm
  ios/Overlay/Ground/RNCNaverMapGroundManager.mm
  ios/Overlay/Marker/RNCNaverMapMarkerManager.mm
  ios/Overlay/Path/RNCNaverMapPathManager.mm
  ios/Overlay/Polygon/RNCNaverMapPolygonManager.mm
  ios/Overlay/Polyline/RNCNaverMapPolylineManager.mm
  ios/RNCNaverMapViewManager.mm
Due: lint:objc

chore: bump example project to 0.74
  example/android/app/build.gradle
  example/android/app/src/main/java/com/navermapexample/MainApplication.kt
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/NaverMapExample.xcodeproj/project.pbxproj
  example/ios/NaverMapExample/AppDelegate.mm
  example/ios/NaverMapExample/Info.plist
  example/ios/NaverMapExample/PrivacyInfo.xcprivacy
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  yarn.lock
Due: none

chore: unconscious commit
  example/ios/Podfile.lock
Due: none

chore: unconscious commit
  README-en.md
  README.md
Due: none

chore: release 2.1.0 [skip ci]
  package.json
Due: none

Update bug_report.yml [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

refactor(android): move properties from clusterer key to holder data class
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapClusterKey.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerHolder.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerUpdater.kt
  example/ios/Podfile.lock
  example/src/App.tsx
Due: lint:kotlin

feat(android): add cluster width, height props
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapClusterDataHolder.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapClusterMarkerUpdater.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafDataHolder.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerUpdater.kt
  example/src/App.tsx
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:kotlin, typecheck

Path conditions:
  lint:js: any of: src/**/*.{js,ts,jsx,tsx}
  lint:objc: any of: ios/**/*.{h,mm,m,hpp}
  lint:kotlin: any of: android/**/*.kt
  typecheck: any of: src/**/*.{ts,tsx}
