Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:js:
      glob: "src/**/*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {staged_files}
    lint:objc:
      glob: "ios/**/*.{h,mm,m,hpp}"
      run: bash ./script/clang-lint.sh {staged_files}
    lint:kotlin:
      run: bash ./script/ktlint-lint.sh android
    typecheck:
      glob: "src/**/*.{ts,tsx}"
      run: yarn tsc --noEmit

format:
  parallel: true
  commands:
    format:objc:
      glob: "ios/**/*.{h,mm,m,hpp}"
      run: bash ./script/clang-format.sh {all_files}
    format:kotlin:
      run: bash ./script/ktlint-format.sh android

commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

ci: configure lefthook
  lefthook.yml
  package.json
Due: none

ci: configure android glob
  lefthook.yml
Due: none

ci: update ci config
  .github/workflows/ci.yml
  .husky/_/check
  lefthook.yml
  package.json
Due: none

ci: install ktlint
  .github/workflows/ci.yml
Due: none

chore: fix ktlint install
  .github/workflows/ci.yml
Due: none

chore: configure lefthook commands
  .eslintcache
  .eslintignore
  .github/workflows/ci.yml
  lefthook.yml
  script/ktlint-format.sh
  script/ktlint-lint.sh
  src/spec/NativeRNCNaverMapUtil.ts
Due: lint:js, typecheck

fix(android): add missing ground view manager
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/oldarch/RNCNaverMapViewManagerSpec.kt
  example/src/App.tsx
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

chore: remove eslintcache from vcs
  .eslintcache
  .gitignore
Due: none

chore: release 1.5.2 [skip ci]
  package.json
Due: none

chore: add husky files
  .husky/_/pre-push
Due: none

feat(android): fpsLimit prop
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  ios/RNCNaverMapViewManager.mm
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

ci: fix lefthook glob
  example/android/app/src/main/java/com/navermapexample/MainActivity.kt
  example/android/app/src/main/java/com/navermapexample/MainApplication.kt
  example/ios/NaverMapExample/AppDelegate.mm
  example/ios/NaverMapExample/main.m
  example/ios/NaverMapExampleTests/NaverMapExampleTests.m
  ios/RNCNaverMapViewImpl.mm
  lefthook.yml
  script/clang-format.sh
Due: none

ci: configure ci
  lefthook.yml
  script/clang-format.sh
Due: none

chore: release 1.5.3 [skip ci]
  package.json
Due: none

chore: add husky
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

docs: update docs [skip ci]
  README.md
Due: none

feat(ios): patternImage of path prop
  .husky/_/commit-msg
  .husky/_/lint
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  example/src/App.tsx
  ios/Overlay/ArrowheadPath/RNCNaverMapArrowheadPath.h
  ios/Overlay/ArrowheadPath/RNCNaverMapArrowheadPathManager.mm
  ios/Overlay/Circle/RNCNaverMapCircle.h
  ios/Overlay/Circle/RNCNaverMapCircleManager.mm
  ios/Overlay/Cluster/RNCNaverMapClusterKey.h
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.h
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.mm
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.h
  ios/Overlay/Ground/RNCNaverMapGround.h
  ios/Overlay/Ground/RNCNaverMapGround.mm
  ios/Overlay/Ground/RNCNaverMapGroundManager.mm
  ios/Overlay/Marker/RNCNaverMapMarker.h
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/Overlay/Marker/RNCNaverMapMarkerManager.h
  ios/Overlay/Path/RNCNaverMapPath.h
  ios/Overlay/Path/RNCNaverMapPath.mm
  ios/Overlay/Path/RNCNaverMapPathManager.mm
  ios/Overlay/Polygon/RNCNaverMapPolygon.h
  ios/Overlay/Polygon/RNCNaverMapPolygonManager.mm
  ios/Overlay/Polyline/RNCNaverMapPolyline.h
  ios/Overlay/Polyline/RNCNaverMapPolylineManager.mm
  ios/RNCNaverMapViewImpl.h
  ios/Util/MacroUtil.h
  ios/Util/RCTConvert+NMFMapView.h
  ios/Util/Utils.h
  src/component/NaverMapPathOverlay.tsx
  src/spec/RNCNaverMapPathNativeComponent.ts
Due: lint:js, lint:objc, typecheck

feat(android): patternImage prop of path overlay (+refactor image renderable overlays)
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGround.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPathManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/RNCNaverMapImageRenderableOverlay.kt
  android/src/oldarch/RNCNaverMapPathManagerSpec.kt
Due: none

fix(android): patternInterval prop name
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPathManager.kt
  example/src/App.tsx
Due: none

docs: update docs, readme
  README.md
  src/component/NaverMapPathOverlay.tsx
Due: lint:js, typecheck

fix(android): support old arch in RNCNAverMapPathMnagerSpec.kt
  android/src/oldarch/RNCNaverMapPathManagerSpec.kt
Due: none

chore: release 1.5.4 [skip ci]
  package.json
Due: none

docs: translate readme
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  README-en.md
Due: none

chore: sync husky commands
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

fix(ios): build fix
  ios/Module/RNCNaverMapUtil.mm
Due: lint:objc

fix(ios): remove util function
  ios/Module/RNCNaverMapUtil.mm
Due: lint:objc

chore: add husky
  package.json
  yarn.lock
Due: none

chore: release 1.5.6 [skip ci]
  package.json
Due: none

chore: remove husky from prepare command [skip ci]
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  package.json
Due: none

feat(android): location overlay prop
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGround.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapClustererHolder.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerHolder.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/cluster/RNCNaverMapLeafMarkerUpdater.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/path/RNCNaverMapPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/CreateDraweeHierarchy.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/GetOverlayImage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/OverlayImageCache.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/RNCNaverMapImageRenderableOverlay.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/RNCNaverMapTaggedImageRenderer.kt
  example/src/App.tsx
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

Update README.md [skip ci]
  README.md
Due: none

Update README-en.md [skip ci]
  README-en.md
Due: none

feat(android): drop old arch support
  android/build.gradle
  android/src/oldarch/RNCNaverMapArrowheadPathManagerSpec.kt
  android/src/oldarch/RNCNaverMapCircleManagerSpec.kt
  android/src/oldarch/RNCNaverMapGroundManagerSpec.kt
  android/src/oldarch/RNCNaverMapMarkerManagerSpec.kt
  android/src/oldarch/RNCNaverMapPathManagerSpec.kt
  android/src/oldarch/RNCNaverMapPolygonManagerSpec.kt
  android/src/oldarch/RNCNaverMapPolylineManagerSpec.kt
  android/src/oldarch/RNCNaverMapViewManagerSpec.kt
Due: none

ci: fix
  package.json
Due: none

Update README.md
  README.md
Due: none

chore: remove consoles
  README.md
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapView.mm
Due: lint:objc

fix(android): fix clusterers not showing after remount
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  example/src/App.tsx
Due: none

ci: update release script
  script/release.sh
Due: none
