Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: yarn eslint --cache --max-warnings=0 {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

feat(ios): add cluster width, height props
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.h
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.mm
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/RNCNaverMapView.mm
  package.json
Due: lint:objc

chore: unconscious commit
  example/ios/Podfile.lock
Due: none

chore: unconscious commit
  .github/dependabot.yml
  package.json
  turbo.json
  yarn.lock
Due: none

ci(android): setup jdk, android sdk on ci
  .github/workflows/ci.yml
Due: none

ci(android): change setup step
  .github/workflows/ci.yml
Due: none

chore(ios): install pod
  example/ios/Podfile.lock
Due: none

chore: bump several dependencies
  .eslintrc
  .husky/_/check
  .husky/_/format
  example/ios/NaverMapExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/ios/Podfile.lock
  example/src/component/components.tsx
  package.json
  src/component/NaverMapArrowheadPathOverlay.tsx
  src/component/NaverMapCircleOverlay.tsx
  src/component/NaverMapGroundOverlay.tsx
  src/component/NaverMapPathOverlay.tsx
  src/component/NaverMapPolygonOverlay.tsx
  src/component/NaverMapPolylineOverlay.tsx
  yarn.lock
Due: lint:js, typecheck

chore: unconscious commit
  example/ios/Podfile.lock
  package.json
Due: none

chore: unconscious commit
  .github/workflows/ci.yml
  turbo.json
Due: none

chore: unconscious commit
  .github/workflows/ci.yml
Due: none

chore: release 2.1.1 [skip ci]
  package.json
Due: none

Fix typo in README
  README.md
Due: none

feat: bump react native to 0.75.2 from 0.74.3
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/settings.gradle
  example/ios/NaverMapExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: lint:kotlin

ci: fix eslintrc
  .eslintrc
Due: none

chore: release 2.2.0 [skip ci]
  package.json
Due: none

Support React Native 0.75
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
Due: lint:kotlin

chore: disable check in v1 release
  script/release.sh
Due: none

chore: release 1.5.10 [skip ci]
  package.json
Due: none

chore(ios): pod install
  example/ios/Podfile.lock
Due: none

onCameraIdle ADD (#1)
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapCameraIdleEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  example/android/gradle.properties
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:kotlin, typecheck

onCameraIdle ios bug fix
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  example/src/App.tsx
  ios/RNCNaverMapViewManager.mm
Due: lint:kotlin

onCameraIdle android bug fix
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapCameraIdleEvent.kt
Due: lint:kotlin

fix: 안드로이드 마커 깜빡거리는 현상 해결
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
Due: lint:kotlin

fix: 안드로이드 location tracking 함수 관련 이슈 수정
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
Due: lint:kotlin

fix: iOS marker 부분 메모리 누수 문제 및 숨겨진 마커 터치 비활성화
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

fix: iOS에서 마커가 눌리지 않던 오류 수정
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

fix: iOS 아이콘 처음 렌더 시 기본마커 보이지 않도록 수정
  OverlayImageManager.h
  OverlayImageManager.mm
  ios/RNCNaverMapViewImpl.mm
Due: none

fix: wrong direction
  ios/OverlayImageManager.h
  ios/OverlayImageManager.mm
Due: none

fix: set ios native default zoomControl as false
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

fix: 불필요한 코드 제거
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

fix: 안드로이드에서 setLocationTrackingMode 를 네이버 지도의 현재위치 버튼 없이도 기능하도록 수정합니다.
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
Due: lint:kotlin

expo-config-plugin ADD
  .gitignore
  expo-config-plugin/build/index.js
Due: none

fix: react native 0.78 & kotlin 2.0.21 android compile error
  android/src/newarch/RNCNaverMapArrowheadPathManagerSpec.kt
  android/src/newarch/RNCNaverMapCircleManagerSpec.kt
  android/src/newarch/RNCNaverMapGroundManagerSpec.kt
  android/src/newarch/RNCNaverMapPathManagerSpec.kt
  android/src/newarch/RNCNaverMapPolygonManagerSpec.kt
  android/src/newarch/RNCNaverMapPolylineManagerSpec.kt
Due: lint:kotlin

chore: release 2.3.0 [skip ci]
  package.json
Due: none

chore: unconscious commit
  CONTRIBUTING.md
  package.json
Due: none

fix: change naver map client id and sdk version
  README-en.md
  README.md
  expo-config-plugin/src/index.ts
  mj-studio-react-native-naver-map.podspec
Due: none

fix: android client id key
  example/android/app/src/main/AndroidManifest.xml
Due: none

Path conditions:
  lint:js: any of: src/**/*.{js,ts,jsx,tsx}
  lint:objc: any of: ios/**/*.{h,mm,m,hpp}
  lint:kotlin: any of: android/**/*.kt
  typecheck: any of: src/**/*.{ts,tsx}
